/* this is a css example */

p {
    background-color: rgba(215, 90, 90, 0.408);
    font-family: Verdana, DejaVu Sans, sans-serif;
    font-weight: 85;
}

#div1 {
    color: rgb(62, 62, 248);
    font-size: 36px;
}

#p2 {
    font-size: 24px;
}

#div2 {
    background-color: rgba(188, 244, 104, 0.595);
    font-weight: bold;
    font-size: 24px;
}