@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 155px;
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a{
  text-decoration: none;
  color: grey;
}

ul{
  list-style-type: none;
  margin-left: -35px;
  margin-right: 5px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.left-links, .right-links{
  display: flex;
  gap: 18px;
  justify-content: space-between;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(246, 246, 246);
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/*this lesson is finished*/